<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <header>
        <ul class="header">
          <li>
            <img src=<%=current_user.image %>/>
          </li>
          <li>
            <%=current_user.name %>
          </li>
          <li class="right">
            <%=link_to "Profile", users_path %>
          </li>
          <li class="right">
            <%=link_to "Find my Kyle", ok_kyle_path %>
          </li>
          <li class="right">
            <%=link_to "Sign Out", signout_path %>
          </li>
        </ul>
      </header>
    <% end %>
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
