<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OK-Kyle</title>
    <%= favicon_link_tag 'hat.png' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <% if current_user %>
      <header>

        <img class="header-logo" src="https://res.cloudinary.com/duor0bzmo/image/upload/v1486937306/ok_kyle_logo_red_qqautl.png"/>
        <div class="dropdown">
          <img class="prof-pic" src= <%=current_user.image %> />

          <div class="dropdown-content">

            <%=link_to "My Matches", users_path %>

            <%=link_to "Find my Kyle", ok_kyle_path unless current_user.admin? %>

            <%= link_to "Chat", chatrooms_path %>

            <%=link_to "Sign Out", signout_path %>

          </div>
        </div>
      </header>
      <div class="clear"></div>
    <% end %>
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
