<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OK-Kyle</title>
    <%= favicon_link_tag 'hat.png' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <div class="top-bar">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <img src=<%=current_user.image %>/>
          </li>
          <li class="menu-text">
            <%=current_user.name %>
          </li>
          <li class="menu-text">
            <%=link_to "Profile", users_path %>
          </li>
          <li class="menu-text">
            <%=link_to "Match", ok_kyle_path %>
          </li>
          <li class="menu-text">
            <%=link_to "Log Out", signout_path %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
